/* Change header 1 size to 200% and give it aqua highlight*/
h1 {
    font-size: 200%;
    color:#13293d;
    background-color: aqua;
    padding: 1%;
}

/* Change header 2 size to 180%*/
h2 {
    font-size: 220%;
    color:#13293d;
    text-align: right;
}

/* Change header 3 size to 150%  */
h3 {
    font-size: 150%;
}

    /* Give the header color */
header {
    padding: 40px;
    background: #13293d;
}

/* Positions the navbar and Header text*/
.navbar {
    display: flex;
    /* Align the child elements with space between them horizontally*/
    justify-content: space-between;
}

/* Positions the navbar items*/
.navbar ul {
    display: flex;
    /* Align the child elements to the right side of the parent */
    justify-content: flex-end;
    /* Align the child elements in the vertical center */
    align-items: center;
}

/* Styles the text of the navbar items and their underlines*/
.navbar ul li a {
    color:aqua;
    padding: 5px 15px;
    text-decoration:underline, aqua;
    font-weight: bold;
    text-underline-offset: 10px;
    text-align: center;
}

/* Container template for sections in main*/
.mediaContainer {
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

/* Diplays media on the left portion of container*/
.mediaLeft {
    flex: 0;
    padding: 1%;
    max-width: 200px;
    min-width: 165px;
}

/* Adds padding to each paragraph in the right side of container*/
.mediaRight p {
    padding: 1%;
}

/* Diplays media on the right portion of container*/
.mediaRight {
    display: inline-block;
    flex: 3;
    position: relative;
    padding-left: 2%;
    border-left: 5px solid #13293d;;
}


.workItems {
    display: flex;
    flex-wrap: wrap;
}
  
.item {
    flex: 0 0 48%; /* Takes up half of the container width */
    padding: 20px;
    margin: 1%;
    box-sizing: border-box;
    border: 4px solid aqua;
    background-color: black;
}

.item1 {
    flex-basis: 98%; /* Takes up the entire row */
}

@media screen and (max-width: 768px) {
    .item {
        flex: 0 0 100%; /* Each item takes up the entire row on smaller screens */
    }
}
