/* Sets default css values */
:root {
    /* declare a variable with `--` syntax */
    --primary: #13293d;
    --secondary: aqua;
  }

/* Change header 1 size to 200% and give it aqua highlight*/
h1 {
    font-size: 2.8vw;
    color:var(--primary);
    background-color: var(--secondary);
    padding: 1%;
}

/* Change header 2 size to 180%*/
h2 {
    font-size: 2.2vw;
    color:var(--primary);
    text-align: right;
}

/* Change header 3 size to 150%  */
h3 {
    font-size: 1.7vw;
}

    /* Give the header color */
header {
    padding: 40px;
    background:var(--primary);
}

/* Positions the navbar and Header text*/
.navbar{
    display: flex;
    /* Align the child elements with space between them horizontally*/
    justify-content: space-between;
}

/* Positions the navbar items*/
.navbar ul{
    display: flex;
    /* Align the child elements to the right side of the parent */
    justify-content: flex-end;
    /* Align the child elements in the vertical center */
    align-items: center;
}

/* Styles the text of the navbar items and their underlines*/
.navbar ul li a{
    color:var(--secondary);
    padding: 5px 15px;
    text-decoration:underline;
    font-weight: bold;
    text-underline-offset: 10px;
    text-align: center;
}

/* Sizes the entire banner section*/
.banner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

/* Sizes the banner image*/
.bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Centers the div the headshot is in and makes it a circle*/
.headshotBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

/* Sizes the headshot within the banner*/
.headshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles the text on the banner and positions it in the bottom right corner of the banner*/
.subtitle {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 5px;
    color:#13293d;
}

/* Container template for sections in main*/
.mediaContainer {
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
}

/* Diplays media on the left portion of container*/
.mediaLeft {
    flex: 0;
    padding: 1%;
    max-width: 200px;
    min-width: 165px;
}

/* Adds padding to each paragraph in the right side of container*/
.mediaRight p {
    padding: 1%;
}

/* Diplays media on the right portion of container*/
.mediaRight {
    display: inline-block;
    flex: 3;
    position: relative;
    margin-left: 1%;
    border-left: 5px solid var(--primary);
}

/* Displays the items in the work section in a flexbox */
.workItems {
    display: flex;
    flex-wrap: wrap;
}
  
/* Template for children in the work section flexbox*/
.item {
    flex: 0 0 48%; /* Takes up half of the container width */
    position: relative;
    margin: 1%;
    box-sizing: border-box;
    border: 4px solid var(--secondary);
    background-color: black;
}

/* First child in the work section flexbox*/
.item1 {
    flex-basis: 98%; /* Takes up the entire row */
    height: 400px;
}

/* Makes the images within each work section child take up its entire space and adds filter to image*/
.workImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease-in-out;
    filter:grayscale(80%) brightness(80%);
}
  
/* removes filter when item is hovered */
.item:hover .workImg{
    filter: none;
}

/* Title of projects in work section */
.workTitle{
    position: absolute;
    bottom: 40px;
    left: 0px;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

/* Displays contact bar in a flex box */
.contactbar ul{
    display: flex;
    list-style: none;
    padding: 0;
}

/* Positions contact items */
.contactbar ul li{
    flex: 1;
    text-align: center;
}

/* Styles contact bar text */
.contactbar a {
    top:50%;
    position: relative;
    display: block;
    text-decoration:underline;
    color: var(--primary);
    padding: 15px;
    font-weight: bold;
    text-underline-offset: 10px;
    font-size: 18px;
  }

  /* Changes made at small window size */
  @media screen and (max-width: 1200px) {
    .contactbar a {
        top:0%;
      }
  }
  

/* Changes made at smaller window size */
@media screen and (max-width: 768px) {
    .item {
        flex: 1 0 100%; /* Each item takes up the entire row on smaller screens */
        height: 250px;
    }

    .item1{
        height: 350px;
    }
    .banner {
        position: relative;
        width: 100%;
        height: 400px;
        overflow: hidden;
    }

    .mediaRight {
        font-size:2vw;
    }

    .navbar ul li a {
        font-size: 10px;
    }

    h1 {
        font-size: 20px;
    }
    
    /* Change header 2 size to 180%*/
    h2 {
        font-size: 17px;
    }
    
}


